.board {
  /* outline: 2px solid rgb(134, 154, 189); */
  padding:0rem;
  margin: 0rem;
}

.row {
  height: 35px;
}

.cell {
  width: 2rem;
  height: 2rem;
  /* outline: 1px solid rgb(134, 154, 189); */
  padding:0rem;
  margin: 0rem;
  display: inline-block;
}

.cell-green {
  background-color: green;
  padding:0rem;
  margin: 0rem;
}

.cell-red {
  background-color: red;
}

.cell-purple {
  background-color: purple;
}
