.board {
  padding: 0rem;
  height: 100vh;
  width: 100vw;

}

.row {
  height: 2rem;
  padding: 0rem;
  margin: 0rem;
  /* outline: 2px solid rgb(134, 154, 189); */
}

.cell {
  width: 2rem;
  height: 2rem;
  /* outline: 1px solid rgb(134, 154, 189); */
  padding: 0rem;
  margin: 0rem;
  display: inline-block;
}

.cell-blue {
  background-color: blue;
  padding: 0rem;
  margin: 0rem;
  /* position: absolute; */
  /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 150px 150px 0 0; */
}

.cell-red {
  background-color: red;
  padding: 0rem;
  margin: 0rem;
}

.cell-white {
  background-color: white;
  padding: 0rem;
  margin: 0rem;
  color: black;
}

.score {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1rem;

  /* margin-left: 47rem;
  margin-top: 5rem;
  margin-right: 40rem; */
}
.scoreButton {
  cursor: none;
}

.header {
  color: #186ade;
  font-size: 12rem;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  display: flex;
}
.loadingPage {
  text-align: center;
  margin: 10rem;
}

.icon {
  color: #186ade;
  transform: scale(2);
}

.errorMessage {
  color: #186ade;
  background-color: white;
  font-size: 1.5rem;
  margin: -5rem 23rem 1rem 22rem;
  /* padding-top: -2rem; */
  padding-bottom: 1rem;
  padding-top: 0.75rem;
  z-index: 100;
  position: relative;
}

.iconStyle {
  size: 5rem;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  display: flex;
}
